<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-Login</title>
    <link rel="stylesheet" href="./customer-login.component.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
          <div class="col-left">
            <div class="login-text">
              <h2>Welcome Back</h2>
              <p>Create your account.<br>It's totally free.</p>
              <a class="btn" (click)="accountOpeningForm()">No Account?</a>
            </div>
          </div>
          <div class="col-right">
            <div class="login-form">
              <h2>Login</h2>
              <form>
                <p>
                  <label>Username<span>*</span></label>
                  <input type="text" placeholder="Type your username" required>
                </p>
                <p>
                  <label>Password<span>*</span></label>
                  <input type="password" placeholder="Password" required>
                </p>
                <p>
                  <input type="submit" value="Sign In" />

                </p>
                <p>
                  <a (click)="accountOpeningForm()">Create an Account</a>
                  <br>
                  <br>
                  <a href="index.html">Back to Home</a>
                </p>
              </form>
            </div>
          </div>
        </div>
       
      </div>
</body>
</html>